<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/banner') %>
  <section class="container">
    <article class="about-me card">
      <a href="https://zh.wikipedia.org/zh-tw/%E9%87%91%E5%9F%8E%E6%AD%A6" target="_blank"><img src="images/yoroshiku.png" alt="my-photo"></a>
    </article>
  </section>
  <%- include('partials/footer') %> 
</body>
</html>