$black-pure: #000000;
$black-logo: #333333;
$black-banner: #434343;
$grey-01: #737373;
$grey-02: #787878;
$grey-03: #8f8f8f;
$grey-04: #9a9a9a;
$grey-05: #a8a8a8;
$grey-06: #d7d7d7;
$grey-07: #eeeeee;
$white-pure: #ffffff;

$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.75rem;
$font-xxl: 2rem;